[Unit]
Description="Backup systemd-boot files if they have changed"

[Service]
ExecStart=/usr/share/systemd-boot-lifeboat/systemd_boot_lifeboat.py

[Install]
WantedBy=graphical.target
